@{
    ViewData["Title"] = "Branchs";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

@model List<Branch>

<div class="w-100">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Branch Table</h4>
            <a class="btn btn-success" asp-controller="branchs" asp-action="create">Create</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Work Time</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Address</td>
                                <td>@Html.Raw(item.WorkTime)</td>
                                <td>@item.Description</td>
                                <td>
                                    <a class="btn btn-success" asp-action="update" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-warning" asp-action="details" asp-route-id="@item.Id">Details</a>
                                    <form asp-action="delete" method="post">
                                        <button type="submit" class="btn btn-danger" asp-action="deleteconfirmed" asp-route-id="@item.Id">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>