@{
    ViewData["Title"] = "Contact";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

@model List<Contact>

<div class="w-100">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Contact Table</h4>
            <a class="btn btn-success" asp-controller="contact" asp-action="create">Create</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Page Title</th>
                            <th>Description</th>
                            <th>Icon</th>
                            <th>Page Url</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PageTitle</td>
                                <td>@item.Description</td>
                                <td><i class="@item.Icon" style="font-size:30px"></i></td>
                                <td>@item.PageUrl</td>
                                <td>
                                    <a class="btn btn-success" asp-action="update" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-warning" asp-action="details" asp-route-id="@item.Id">Details</a>
                                    <form asp-action="delete" method="post">
                                        <button type="submit" class="btn btn-danger" asp-action="delete" asp-route-id="@item.Id">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>