
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

@model List<Partner>

<div class="w-100">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Partner Table</h4>
            <a class="btn btn-success" asp-controller="partner" asp-action="create">Create</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Percentage</th>
                            <th>NFC</th>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="~/assets/image/@item.Image" style="width:100px; height:100px" /></td>
                                <td>@item.Name</td>
                                <td>@item.Percentage%</td>
                                <td>@item.NFC</td>
                                <td>@item.Category.Name</td>
                                <td>
                                    <a class="btn btn-success" asp-action="update" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-warning" asp-action="details" asp-route-id="@item.Id">Details</a>
                                    <form asp-action="delete" method="post">
                                        <button type="submit" class="btn btn-danger" asp-action="delete" asp-route-id="@item.Id">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>